<section>
  <h2>Content Section</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui quos aut rem,
    error eius voluptatibus adipisci ex explicabo veritatis repellendus deserunt
    unde est ab? Voluptate iure cumque corporis illo? Natus.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui quos aut rem,
    error eius voluptatibus adipisci ex explicabo veritatis repellendus deserunt
    unde est ab? Voluptate iure cumque corporis illo? Natus.
  </p>
  <button>Show more !</button>
</section>
