<div class="mt-5 container p-5">
  <h1>Attribute Directives</h1>
  <div class="row mt-5">
    <button class="btn btn-dark mb-5" (click)="toggle()">Toggle</button>
    <!-- <div class="border p-4 rounded" [class.myCustomClass]="show">
      <h1>Hello Open Source</h1>
      <p class="lead mt-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        quibusdam officia impedit vel, saepe rem corporis quaerat quo
        repudiandae nemo iste molestias rerum dolorem mollitia perferendis
        voluptatibus tempora corrupti officiis.
      </p>
    </div> -->
    <!-- <div
      class="border p-4 rounded"
      [ngClass]="{
        myCustomClass: show,
        'bg-danger': color == 'red' && !show
      }"
    >
      <h1>Hello Open Source</h1>
      <p class="lead mt-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        quibusdam officia impedit vel, saepe rem corporis quaerat quo
        repudiandae nemo iste molestias rerum dolorem mollitia perferendis
        voluptatibus tempora corrupti officiis.
      </p>
    </div> -->
    <!-- <div class="border p-4 rounded">
      <h1 [style.color]="show ? 'red' : 'green'">Hello Open Source</h1>
      <p class="lead mt-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        quibusdam officia impedit vel, saepe rem corporis quaerat quo
        repudiandae nemo iste molestias rerum dolorem mollitia perferendis
        voluptatibus tempora corrupti officiis.
      </p>
    </div> -->
    <!-- <div class="border p-4 rounded">
      <h1
        [ngStyle]="{
          color: show ? 'red' : 'green',
          backgroundColor: show ? 'blue' : '#000'
        }"
      >
        Hello Open Source
      </h1>
      <p class="lead mt-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        quibusdam officia impedit vel, saepe rem corporis quaerat quo
        repudiandae nemo iste molestias rerum dolorem mollitia perferendis
        voluptatibus tempora corrupti officiis.
      </p>
    </div>
  </div>
</div> -->
  </div>
</div>
