<div class="mt-5 container alert alert-info">
  <h1>Home Page</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ipsum
    cumque sapiente sunt iusto, itaque totam consequuntur, veritatis non quod
    aperiam laudantium soluta quis! Blanditiis est nihil nobis at nemo.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ipsum
    cumque sapiente sunt iusto, itaque totam consequuntur, veritatis non quod
    aperiam laudantium soluta quis! Blanditiis est nihil nobis at nemo.
  </p>
  <button class="btn btn-dark mt-5">Show More</button>
</div>
